
<div class="mb-3">
  <label for="itemName" class="form-label">Item Name</label>
  <input required type="text" value="" class="form-control" name="itemName" id="itemName">
</div>

<div class="mb-3">
  <label for="price" class="form-label">Price</label>
  <input required  type="text" value="" class="form-control" id="price" name="price">
</div>



<br>
